.to-be-removed {
	display: none !important;
}

.dragome-show {
	display: block !important;
}

.dragome-hide {
	display: none !important;
}

div[disabled=disabled] {
  pointer-events: none;
  opacity: 0.4;
}